@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INVENTARIO</h1>
    <p class="lead">Para tener tu inventario actualizado.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pedidos</h2>
        <p>tendras organizado tu ibventario y sin errores.</p>

    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Tus clientes estaran satifechos al recibir los pedidoas.</p>

    </div>

    <div class="col-md-4">
        <h2>Proveedores</h2>
        <p>
            Tu podras tener los contactos de tus proveedores mas organizados
        </p>

    </div>


</div>